body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) contrast(3);
}

#audio1 {
    display: none;
}

#playPauseButton,
#micButton,
#fileUploadLabel {
    position: fixed;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}

#playPauseButton {
    left: 20px;
    background-color: #1e90ff;
}

#playPauseButton:hover {
    background-color: #63b3ed;
}

#micButton {
    left: 110px;
    background-color: #28a745;
}

#micButton:hover {
    background-color: #5cb85c;
}

#fileUploadLabel {
    left: 290px;
    background-color: #6c757d;
    padding: 10px 20px;
}

#fileUploadLabel:hover {
    background-color: #5a6268;
}


/* Control Panel Styles */

#control-panel {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
    width: auto;
    max-height: 60px;
    transition: max-height 0.6s ease-in-out;
    flex-direction: column-reverse;
    transform-origin: bottom;
    width: 300px;
}

#control-panel.expanded {
    max-height: 400px;
}

.control-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.control {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.control:last-child {
    margin-right: 0;
}

.control .color-preview {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-preview span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

.control-content {
    display: flex;
    padding: 10px;
    overflow: hidden;
}


/* 컨트롤 콘텐츠 확장 시 */

#control-panel.expanded .control-content {
    max-height: 300px;
}

.content-item {
    display: none;
    width: 100%;
}

.content-item.active {
    display: block;
    justify-content: center;
    align-items: center;
}

.palette {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 30px);
    gap: 3px;
}

.color-option {
    width: 25px;
    height: 25px;
    margin: 0.1px;
    cursor: pointer;
    border-radius: 5px;
}

.control-content input[type="range"] {
    width: 260px;
    margin-top: 10px;
}