body {
    margin: 0;
    padding: 0;
    background: #000;
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

#logo {
    width: 500px;
    margin-bottom: 50px;
}

#start-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #63b3ed;
}